$primary-color: rgb(32, 31, 31);
$secondary-color: #2596be;
$experiment-color: #1225d6;
$dark-blue: #002868;
$section-color: #4e4e4e;

$description-size: 1rem;
$content-padding: 20px;
$section-border-radius: 20px;

$show-city-image: true;
$city-image: url("../images/intro/austin5.jpg");
$profile-image: url("../images/intro/profile_pic.jpg");

$blog-color: #1671fa;

$background-opacity: 0.75;

//Programming tags
$html: #e44c24;
$css: rgb(35, 162, 204);
$python: darkgreen;
$tensorflow: orange;
$pytorch: rgb(250, 97, 8);
$react: #61dafb;
$csharp: #9a4993;
$java: rgb(165, 93, 0);
$javascript: #f3db4c;
$node: #60a556;
$gcp: #437af9;
$aws: #ff9900;
$sqlserver: #ad1519;
$sass: #cc649c;

@mixin easeOut{
    transition: all 0.5s ease-out;
}

@mixin background{
    @if $show-city-image{
        &#Introduction{
            content: '';
            background: $city-image;
            background-size:cover;
            /* &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
                opacity: .6; 
            } */
        }
    }
}

//Set Text Color
@function set-text-color($color){
    @if(lightness($color)>40){
        @return #000;
    }@else{
        @return #fff;
    }
}

//Media queries
@mixin mediaSm{
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin card{
    background: rgba($section-color, $background-opacity);
    border-radius: $section-border-radius;
    margin: 20px;
    padding: $content-padding;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 150px 1fr;
}
